{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>ToDo</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.todo_items %}
          <li>
            {{ item.name }}
            <a href={{ "/resolve/" + item.id }} >☑</a>
          </li>
        {% endfor %}
      </ul>
      <h2>Doing</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.doing_items %}
          <li>
            {{ item.name }}
            <a href={{ "/resolve/" + item.id }} >☑</a>
          </li>
        {% endfor %}
      </ul>
      <h2>Done</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.done_items %}
          <li>
            <del>{{ item.name }}</del>
          </li>
        {% endfor %}
      </ul>
    </div>
    <form action='/new' method="post">
      <input type="text" id="name" name="name" placeholder="New item">
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}